<div class="container">
  <div class="row justify-content-center my-5">
    <div class="col-md-4">
      <a href="/student" style="width: 100px" class="btn btn-sm btn-primary"
        >Back</a
      >
      <br />
      <br />
      <div class="card">
        <div class="card-body">
          <h2 class="text-center">Add Student</h2>
          <hr />
          <form action="">
            <div class="my2">
              <label for="">Name</label>
              <input class="form-control" type="text" name="name" id="" />
            </div>
            <div class="my2">
              <label for="">Email</label>
              <input class="form-control" type="text" name="email" id="" />
            </div>
            <div class="my2">
              <label for="">Photo</label><br />
              <input class="form-control" type="file" name="photo" id="" />
            </div>
            <br />
            <div class="my2">
              <input class="btn btn-info" type="submit" value="Add Student" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
