<div class="container">
  <div class="row justify-content-center my-5">
    <div class="col-md-8">
      <a
        href="/student/create"
        style="width: 150px"
        class="btn btn-sm btn-primary"
        >Add New Student</a
      >
      <br />
      <br />
      <div class="card">
        <div class="card-body">
          <h2 class="text-center">All Students</h2>
          <hr />
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Photo</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>mark!@gmail.com</td>
                <td>
                  <img width="40" src="assets/upload/1.png" alt="" />
                </td>
                <td>
                  <a href="" class="btn btn-sm btn-info"
                    ><i class="fas fa-eye"></i
                  ></a>

                  <a href="" class="btn btn-sm btn-warning"
                    ><i class="fas fa-edit"></i
                  ></a>

                  <a href="" class="btn btn-sm btn-danger"
                    ><i class="fas fa-trash"></i
                  ></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
